.btnHolder{
    &--tac{
        text-align: center;
    }
    .btn + .btn{
        margin-#{$left}: $space;
    }
    .btn--sm + .btn--sm{
        margin-#{$left}: 10px;
    }
}
.btn{
    @include shadow(1);
    @include rem(16);
    border: none;
    cursor:pointer;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 1.5*$space;
    padding:0 $space;
    text-align: center;
    text-decoration:none;
    transition:0.2s;
    border-radius:2px;
    @include mediaMin(1024px){
        height: 2*$space;
    }
    &:hover{
        @include shadow(3);
    }
    &:active{
        @include shadow(2);
    }
    .icon, svg{
        width:$space/2;
        height:$space/2;
        vertical-align: middle;
        display: inline-block;
        & + span {
            margin-#{$left}:$space/3;
        }
    }
    .icon + span,
    span + .icon{
        margin-#{$left}:$space/3;
    }

    &:hover{
        @include shadow(3);
    }
    &:active{
        @include shadow(2);
    }
    @include mediaMin(1024px){
        height: 2*$space;
        line-height: 2*$space;
    }
    &--round{
        border-radius: $space/4*3;
    }

    &--square{
        height: 1.5* $space;
        width: 1.5* $space;
        padding:0;
    }
    &--cta{
        @include rem(18);
        font-weight:500;
        height: 1.7*$space;
        padding:0 $space;
        position: relative;
        text-transform: uppercase;
    }
    &--sm{
        @include rem(14);
        width: 1.2*$space;
        height: 1.2*$space;
    }
    &--xs{
        @include rem(14);
        width: 1*$space;
        height: 1*$space;
    }
    &--primary{
        color: $wh;
        @include btnBg($primaryColor,10%);
        &:hover{
            color:$wh;
        }
    }
    &--accent{
        color: $wh;
        @include btnBg($accentColor,10%);
        &:hover{
            color:$wh;
        }
    }
    &--loading{
        > * {
            display: none;
        }
        font-size: 0;
        position: relative;
        &:after{
            content:"";
            position: absolute;
            @include absoluteCenter();
            width: 20px;
            height: 20px;
            background-color: $wh;
            animation-name: pulse;
            animation-iteration-count: infinite;
            animation-duration: 0.5s;
            border-radius: 50%;
            transition: 0.2s;
        }
    }
    &--block{
        flex-basis:100%;
        min-width:100%;
    }
    &--left{
        float:$left;
    }
    &--right{
        float:$right;
    }
    &--mb{
        margin-bottom: $space;
    }
}