label {
    display: inline-block;
    @include rem(18);
    display: block;
    margin-bottom: $space/4;
}
input[type="text"],
input[type="mail"],
textarea,
input[type="password"]{
     -webkit-appearance: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea,
select
{
    display:block;
    padding:0  $space/2;
    border: 1px solid darken($dviderColor,5%);
    color: $secondaryText;
    height: 1.5*$space;
    line-height: 1.5* $space;
    box-sizing: border-box;
    width:100%;
    max-width:100%;
    font-family: $bodyFont;
    margin-bottom: $space/2;
    @include placeholder($midGry);
    @include rem(16);
   
    &:focus{
        outline: none;
        border: 1px solid lighten($primaryColor,10%);
    }
}
textarea{
    height: auto;
    min-height: 4*$space;
    max-width: 100%;
}