	.comment{
		padding-#{$left}:2.5*$space;
		padding-#{$right}:$space/2;
		margin-bottom: $space;
		position: relative;
		@include mediaMin(768px){
			padding-#{$left}:4*$space;
			padding-top:3*$space/2;
		}
		&__title{
			margin-bottom: $space/2;
			font-weight: 	400;
			@include rem(16);
			@include mediaMin(768px){
				@include rem(20);

			}
		}

		&__img{
			border-radius:50%;
			overflow-y: hidden;
			width: 2*$space;
			height: 2*$space;
			#{$left}:0;
			position: absolute;
			img{
				@include absoluteCenter();
				min-width: 100%;
				min-height: 100%;
				width: 100%;
			}
			@include mediaMin(768px){
				width: 3*$space;
				height: 3*$space;
			}
		}
		&__abstract{
			margin:0;
			padding-bottom: $space;
			line-height: $space;
			color:$secondaryText;
			@include rem(16);
			@include mediaMin(768px){
				@include rem(18);
			}
		}
		&__abstract{
			border-bottom:1px solid $dviderColor;
		}
		&:last-child &__abstract{
			border-bottom:none;
		}
	}