/*
    [0] - UTILITES
    [1] - Buttons
    [2] - social items
    [3] - CATEGORYIS PALLET
    [4] - hidden xxs
    [5] - breadcrumb
    [6] - data
    [7] - Title
    [8] - category title
    [9] - icon
    [10]- placeholders
*/


//[0] - UTILITES
    [hiddin]{
        display: none;
    }
    a{
        text-decoration: none;
    }

//[1] - Buttons
    .btnHolder{
        &--tac{
            text-align: center;
        }
        .btn + .btn{
            margin-#{$left}: $space;
        }
    }
    .btn{
        @include shadow(1);
        border: none;
        cursor:pointer;
        display: inline-block;
        font-size:1rem;
        height: 1.5*$space;
        line-height: 1.5* $space;
        padding:0 $space;
        text-align: center;
        text-decoration:none;
        transition:0.2s;
        span{
            vertical-align: middle;
        }
        .icon{
            vertical-align: middle;
            & + span {
                margin-#{$left}:$space/3;
            }
        }
        &:hover{
            @include shadow(3);
        }
        &:active{
            @include shadow(2);
        }
        @mediaMin(1024px){
            height: 2*$space;
            line-height: 2*$space;
        }
        &--square{
            line-height: 1.5* $space;
            height: 1.5* $space;
            width: 1.5* $space;
            padding:0;
        }
        &--round{
            border-radius: $space/4*3;
        }
        &--cta{
            font-weight:500;
            height: 2*$space;
            @include lineHeight(2.1);
            padding:0 $space;
            position: relative;
            text-transform: uppercase;
            
        }
        &--primary{
             color: $wh;
             @include btnBg($primaryColor,10%);
             &:hover{
                 color:$wh;
             }
        }
        &--accent{
             color: $wh;
             @include btnBg($accentColor,10%);
              &:hover{
                 color:$wh;
             }
        }
        &--block{
            display:block;
        }
        &--left{
            float:$left;
        }
        &--right{
            float:$right;
        }
    }

//[2] - social items

    .socialItem{
        border-radius: 50%;
        box-shadow:none;
        color:$wh !important;
        cursor: pointer;
        display: inline-block;
        height: 36px;
        line-height:35px;
        padding: 0;
        text-align: center;
        width: 36px;
        &:hover{
            line-height:35px;
        }
        .icon{
            fill: $wh;
            height: 36px;
            vertical-align: middle;
        }
        &--sm{
            width: 30px;
            height: 30px;
            line-height:29px;
            .icon{
                height: 36px;
            }
        }
        &--gry{
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(0);
            }
        }
        & + &{
            margin-#{$left}: 10px;
        }
    }
    .facebook{
        @include btnBg($facebook,10%)
    }
    .googleplus{
         @include btnBg($googlePlus,10%)
    }
    .youtube{
         @include btnBg($youtube,10%)
    }
    .twitter{
        @include btnBg($twitter,10%)
    }
    .instagram{
        @include btnBg($instagram,10%)
    }
    .rss{
        @include btnBg($rss,10%)
    }

//[3] - CATEGORYIS PALLET
    .blue{//
        @include colorSet($blue, $wh);
    }
    .green{
         @include colorSet($green, $wh);
    }
    .red{
         @include colorSet($red, $wh);
    }
    .purple{
         @include colorSet($purple, $wh);
    }
    .yellow{
        @include colorSet($yellow, $bk);
    }
    .gry{
        @include colorSet($dviderColor, $primaryText);
    }
    .white{//
        @include colorSet($wh, $primaryText);
    }

//[4] - hidden xxs
    .hide-sm{
        @include mediaMax(1023px){
            display: none !important;
        }
    }
    .hide-lg{
        @include mediaMin(1024px){
            display: none !important;
        }
    }

//[5] - breadcrumb
    .breadCrumb{
        font-size: 0.85em;
        list-style-type: none;
        li{
            display: inline-block;
            a{
                color: inherit;
            }
            & + li{
                margin-#{$right}: 10px;
                &:before{
                    content:"\f04d";
                    display: inline-block;
                    font-family: "<";
                    margin-#{$left}: 10px;
                    vertical-align: middle;
                }
            }
        }
    }

//[6] - data
    .date{
        @include rem(12);
        color:$lightGry;
        overflow: hidden    ;
        vertical-align: middle;
        span{
            vertical-align: middle;
        }
        .icon{
            fill:$lightGry;
            height: 1em;
            margin-#{$right}:5px;
            vertical-align: middle;
            width: 1em;
        }
    }

//[7] - Title
    .section{
        padding:$space 0;
        &--offWhite{
            background: $offWhite;
        }
        &__mainTitle{
            @include lineHeight(1);
            margin-bottom:$space;
            &--center{
                text-align: center;
            }
        }
        &__abstract{
            color: $secondaryText;
            margin-bottom:$space;
            @include mediaMin(1024px){
                margin-bottom: 2*$space;
            }
        }
        &__noMarginItem{
            @include mediaMin(1024px){
                &.post-view{
                    margin-bottom: 0;
                }
            }
        }
        .section__Img{
            margin-bottom:$space;
            @include mediaMin(1024px){
                margin-bottom:0;
            }
        }
        @include mediaMin(1024px){
            padding:2*$space 0 $space;
            &__mainTitle{
                @include lineHeight(2);
            }
            &__TextArea{
                padding-#{$right}:2*$space;
            }
            &__TextAreaSibling{
                padding-#{$left}:3*$space;

            }
        }
    }
    
    .sub-section-title{
        display: flex;
        flex-direction: column;
        margin-bottom:$space/2;
        &--noborder{
            padding-top: 0;
            border-top: none;
        }
        &__title{
            color:$primaryText;
            flex-grow: 1;
            text-transform: capitalize;
            @include rem(28);
        }
        &__list{
            flex-grow: 1;
            text-align:$left;
            list-style-type: none;
            vertical-align: middle;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items:center;
            justify-content :flex-start;
            margin-top: $space/2;
            @include mediaMin(768px){
                justify-content :flex-end;
                text-align:$left;
            }
        }
        &__listItem{
            @include rem(14);
            display: inline-block;
            color:$wh;
            padding:2px $space/2;
            border-radius:3px;
            color:$secondaryText;
            &:hover{
                background: $offWhite;
                color:$primaryText;
            }
            &--active{
                background: $primaryColor;
                color:$wh;
                @include shadow(1);
                &:hover{
                    color:$wh;
                    background: darken($primaryColor,10%);
                    @include shadow(2);
                }
            }
            & + & {
                margin-#{$left}: 10px;
            }
        }
        .sub-section-body + &{
            margin-top: $space;
        }
        @include mediaMin(768px){
            flex-direction: row;
            margin-bottom:$space;
             &__list{
                 margin-top: 0;
                text-align:$right;
            }
        }
    }


//[8] - category title
    .category-title{
        padding: $space;
        color:$wh;
        @extend %mainGradient;
    }
//[9] - icon
    .icon{
        display: inline-block;
        font-size: inherit;
        height: 1em;
        width: 1em;
    }
//[10] - color padge
    .colorLabel{
        width: $space;
        height: $space;
        display: inline-block;
        @include shadow(1);
        border-radius: 2px;
        &--round{
            border-radius: $space/2;
        }
        & + &{
            margin-#{$left}:$space/3; 
        }
    }
//[11] - placeholders
    .placeholder{ 
        @extend %mainGradient;
        background:rgba(0,0,0,0.05);
        border-radius:2px;
        display: block;
        height: 20px;
        margin-bottom: 10px;
        margin: 0;
        @include mediaMax(480px){
            height: 10px;
            margin-bottom:5px;
        }
        &--reverse{
            background:rgba(255,255,255,0.05);
        }
        &--title{
            margin-bottom: 0;
            display: inline-block;
            min-width: 30%;
            height: 30px;
            @include mediaMax(480px){
                height: 15px;
                margin-bottom: 0px;
            }
        }
        
        &--33{
            display: inline-block;
            margin-#{$right}: 10px;
            margin-bottom: 0;
            width:calc(33% - 10px); 
        }
        &--15{
            display: inline-block;
            margin-#{$right}: 10px;
            margin-bottom: 0;
            width:calc(15% - 10px); 
        }
        &--66{
            display: inline-block;
            margin-#{$right}: 10px;
            margin-bottom: 0;
            width:calc(66% - 10px); 
        }
    }