.intro{
	background: $bk;
	flex-grow: 1;
	height: auto;
	height: auto;
	max-height:21*$space;
	min-height:200px;
	overflow: hidden;
	position: relative;
	text-align: center;
	z-index: 0;
    min-height:auto;
	padding-top: $space;
    & + & {
    	margin-top: 0;
    }
    @include mediaMin(768px) {
		min-height: 300px;
		text-align: $left;
        margin-top: 0;
    }
    @include mediaMin(1024px) {
		padding-top: 0;
		height: 100vh;
        min-height: 400px;
        &--countery{
        	min-height: 300px;
        }
    }
	&:after{
		background: $primaryColor;
		bottom: 0;
		content:"";
		display: block;
		height:100%;
		left: 0;
		margin:auto;
		opacity: 0.9;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 2;
		
	}
	&__cover{
		background: $primaryColor;
		bottom: 0;
		left: 0;
		margin:auto;
		min-height:100%;
		min-width:100%;
		opacity: 1;
		position: absolute;
		right: 0;
		top: 0;
		z-index:1;
	}
	&__countery{
		position: relative;
		text-align: center;
		top:38%;
		transform:translateY(-50%);
		z-index: 3;
		@include mediaMin(768px) {
			top: 50%;
			transform:translateY(-50%);
		}
	}
	&__countery-tagline{
		color:$wh;
	}
	&__countery-name{
		color:$yellow;
		vertical-align: middle;
		@include rem(22);
		@include mediaMin(768px) {
			@include rem(32);

		}
	}
	&__countery-flag{
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius:50%;
		display: inline-block;
		background-size:cover;
		background-position: 50% 50%;
		vertical-align: middle;
		margin-#{$right}:10px;
		@include mediaMin(768px) {
			width: 60px;
			height: 60px;
    	}

	}
	&__callToAction{
		@extend .container;
		position: relative;
		z-index:3;
		text-align: $right;
		top: 0;
		color:$wh;
		overflow: hidden;
		&-inner{
			float:$right;
			text-align: center;
    		padding: $space 0;
			align-self: center;
		}
		&-video{
			margin-bottom: 0;
		}
		&-title{
			margin-top: 0;
			margin-bottom: $space;
			@include rem(22);
			@include lineHeight(1);
			@include mediaMin(768px) {
				@include rem(41);
				@include lineHeight(2);

			}
		}
		&-abstract{
			margin-bottom: $space;
			@include rem(18);
		}
		@include mediaMin(768px) {
			top: 50%;
			transform:translateY(-50%);
			&-abstract{
				@include rem(20);
			}
			&-inner{
				text-align: $left;
			}

		}
		@include mediaMin(1024px) {
			top: 50%;
		}
	}
	&__icon{
		width:35px;
		height:35px;
		border-radius:2px;
		background: rgba(0,0,0,0.5);
		position: absolute;
		z-index: 3;
		left: 15px;
		bottom: 15px;
		text-align: center;
		@include rem(20);
		color:$wh;
		i{
			line-height: 34px;
		}
		@include mediaMin(768px) {
			width:45px;
			height:45px;
			i{
				line-height: 44px;
			}
    	}
	}

	&--bounded{
		.intro__callToAction{
			padding:0 40px;
		}
	}
}