/*
    [1] - Presets
    [2] - Hover
    [3] - Absoluted Items
    [4] - Share
    [5] - Fav
    [6] - Icon
    [7] - Padge
    [8] - Image
    [9] - Caption
    [10] - MaxTitle
    [11] - Abstract
    [12] - Modifiers
*/

//[1] - Presets
    %postGradient {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
    }

    img.lazy {
        background-color: $dviderColor;
        background-image: url(../img/loading.gif);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: $space $space;

    }

    @keyframes fitIn {
        from {
            opacity: 0;
            transform: scale(1.5);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

.post-view {
    margin-bottom: $space;
    position: relative;
    transition: 0.2s;
    //[2] - HOVER
        &:not(&--over):hover &__maxTitle{
            color:$primaryColor;
        }
        &:hover &__img img{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transform: scale(1.2);
            transition: 1s;

        }
        &:hover &__share,
        &:hover &__fav {
            opacity: 1;
            transform: scale(1);
        }

    //[3] - ABSOLUTED ITEMS
        &__link,
        &__img img,
        &__img iframe,
        &__img &__video{
            #{$left}: 0;
            #{$right}: 0;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
            background: $ts;
            bottom: 0;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0;
            transition: 1s;
        }
        &__img iframe,&__img &__video{
            z-index: 2;
        }
        &__img iframe{
            width: 100%;
            height: 100%;
        }
        &__img img{
            min-height:100%;
            min-width:100%;
        }
        &__link {
            z-index: 3;
        }
    //[4] - SHARE
        &__share {
            #{$right}: 15px;
            display: none;
            opacity: 0;
            position: absolute;
            top: 15px;
            transform: scale(0);
            transition: 0.3s;
            z-index: 4;
            @include mediaMin(768px) {
                display: block
            }
        }
        &--horizontal-sm &__share{
            display: none;
        }
    //[5] - FAV
        &__fav {
            #{$left}: 10px;
            @include rem(20);
            position: absolute;
            text-align: center  ;
            top: 10px;
            transform: translateX(0);
            transition: 0.2s;
            z-index: 4;

            .icon {
                animation: fitIn 0.3s forwards;
                fill:$yellow;
                opacity: 0;
                transform: scale(0);
                transform: scale(1);
            }
            .icon:first-child {
                display: block;
            }
            .icon:last-child {
                display: none;
            }
            input {
                display: none;
            }
            input:checked + label {
                .icon{
                    transform: scale(1.5);
                }
                .icon:first-child {
                    display: none;
                }
                .icon:last-child {
                    display: block;
                }
            }
            label {
                color: $yellow;
                cursor: pointer;
                display: block;
                height: 20px;
                width: 20px;
                z-index: 4;
                &:hover{
                    transform:scale(1.2);
                }
            }

            .post-view--horizontal-sm &{
                #{$left}: 10px;
                top: 10px;
            }

            @include mediaMin(768px) {
                #{$left}: 15px;
                @include rem(25);
                top: 15px;
                transform: translateX(-1 * $reverse * 50px);
                label {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    //[6] - ICON
        &__icon {
            #{$left}: 0;
            #{$right}: 0;
            @include rem(50);
            border-radius: 50%;
            bottom: 0;
            color: $wh;
            display: block;
            height: 50px;
            line-height: 55px;
            margin: auto;
            position: absolute;
            text-align: center;
            top: 0;
            width: 50px;
            z-index: 2;
            &-inner{
                @include rem(50);
                fill:$wh;
            }
        }
    //[7] - PADGE
        &__padge{
            #{$left}:$space;
            @include rem(14);
            background: $primaryColor;
            border-radius: 2px;
            bottom:$space/2;
            color:$wh;
            display: inline-block;
            height: $space;
            line-height:$space;
            padding:0 $space/2;
            position: absolute;
            z-index: 3;
            &:hover{
                color:$wh;
            }
            @include mediaMin(768px) {
                 #{$left}:$space;
                 bottom:$space;
            }
        }
    //[8] - IMG
        &__img {
            overflow: hidden;
            padding-top: 8*$pPercent;
            position: relative;
            background: $wh;
            &:after {
                #{$right}: 0;
                background: $primaryColor;
                content: "";
                display: block;
                height: 100%;
                opacity: 0.03;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }
            img {
                z-index: 0;
            }
        }
        &--card &__img{
            padding-top:8*$pPercent;
            @include shadow(3);
            @include mediaMin(1024px) {
                height:8*$space;
            }
        }
        &--cardBounded &__img{
            box-shadow: none;
        }
        &--cardSimple &__img{
            @include shadow(3);
        }
        &--iframe &__img{
            padding-top: 56%;
        }
        &--horizontal &__img{
            #{$left}: 0;
            height:3*$space;
            padding: 0;
            position:absolute;
            top: 0;
            width: 4.5*$space;
            @include mediaMin(375px) {
                height:3.5*$space;
                width: 5*$space;
            }
            @include mediaMin(768px) {
                height:7*$space;
                width: 10*$space;
            }
        }
        &--horizontal-sm &__img{
            height:3*$space;
            width: 4.5*$space;
        }




    //[9] - CAPTION
        &__caption {
            @include rem(18);
            margin: 0;
        }
        &--over &__caption {
            #{$left}: 0;
            background: $ts;
            bottom: 20px;
            color: $wh;
            display: block;
            line-height: 1.75em;
            padding: 10px 15px;
            position: absolute;
            text-align: center;
            text-shadow: 1px 1px 2px $ts-bk-50;
            width:100%;
            z-index: 1;
            @include mediaMin(1024px) {
                #{$left}: 10px;
                bottom: 10px;
                width: 90%;
                width: calc(100% - 20px);
            }
        }
        &--card &__caption{
            padding-top: 0;
          
            @include mediaMin(768px) {
                height:170px;
            }
        }
        &--cardBounded &__caption{
            padding: $space;
            background: $wh;
            @include mediaMin(480px) {
                height: 4*$space;
            }
            @include mediaMin(768px) {
                height:8*$space;
            }
        }
        &--cardBoundedSimple &__caption{
            padding:0  $space ;
            @include mediaMin(480px) {
                height: 2*$space;
            }
            @include mediaMin(768px) {
                height:2*$space;
            }
        }
        &--horizontal &__caption{
            padding-top:$space/2;
            padding-#{$left}: $space/2;
            @include mediaMin(768px) {
                padding: $space 0 0 0;
            }
        }
        &--horizontal-sm &__caption{
            border-bottom: 1px solid $dviderColor;
            height:3*$space;
            padding-#{$left}: $space/2;
            padding-top:0;
            display: table;
        }

    //[10] - MAXTITLE
        &__maxTitle {
            display: block;
            font-weight: 400;
            margin: 0;
            max-height: 100%;
            overflow: hidden;
            vertical-align: middle;
            @include mediaMin(768px) {
                max-height: 3*$space;
            }
        }
        &--horizontal &__maxTitle{
            height: auto;
            max-height:2*$space;
        }
        &--horizontal-sm &__maxTitle{
            @include rem(18);
            display: table-cell;
            vertical-align: middle;
        }
        &--over &__maxTitle{
            height: auto;
            max-height: 78px;
        }
        &--card &__maxTitle{
            margin-top: $space/2;
            @include rem(18);
            @include mediaMin(768px) {
                margin-top: $space;
                margin-bottom: $space/2;
            }
        }
        &--cardSimple &__maxTitle{
            max-height:1.5*$space;
            @include lineHeight(1.5);
        }
        &--cardBounded &__maxTitle{
            margin-top: 0;
            @include rem(22);
            @include mediaMin(768px) {
                @include lineHeight(1);
                @include rem(24);
                max-height: 2*$space;
            }
            @include mediaMin(1024px) {
                @include rem(26);
                @include lineHeight(1.2);
                 max-height: 2.4*$space;
            }
        }
        &--cardBoundedSimple &__maxTitle{
            @include lineHeight(2);
            @include rem(18);
            font-weight: 300;
            margin-top: 0;
            max-height:2*$space;
            max-width: 100%;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }


    //[11] - ABSTRACT
        &__abstract{
            @include lineHeight(1);
            color:$secondaryText;
            display: none;
            max-height: 2*$space;
            overflow: hidden;
            @include mediaMin(768px) {
                display: block;
            }
        }
        &__maxTitle + &__abstract{
            margin-top: $space;
        }
        &--card &__abstract{
            height: 2*$space;
        }
        &--card &__maxTitle + &__abstract{
            margin-top: 0;
        }
        &--cardBounded  &__maxTitle + &__abstract{
            color:$primaryText;
            margin-top: $space;
        }
        &--cardBoundedSimple &__abstract{
            display: none;
        }

    //[12] MODIFIERS
        &--horizontal{
            height:3*$space;
            padding-#{$left}:4.5*$space;
            margin-bottom: $space/2;

            @include mediaMin(375px) {
                height:3.5*$space;
                padding-#{$left}: 5*$space;
            }
            @include mediaMin(768px) {
                margin-bottom: $space;
                height:7*$space; 
                padding-#{$left}:11*$space;
            }
            &-sm{
                height:3*$space;
                padding-#{$left}:4.5*$space;
                margin-bottom: $space/2;
            
            }
        }
    

        &--card{
            margin-bottom: $space;
            &Simple{
                margin-bottom: 0;
            }
        }
        &--cardBounded{
            @include shadow(3);
            &Simple{
                margin-bottom: $space/2;
            }
            @include mediaMin(480px) {
                &Simple{
                    margin-bottom: $space;
                }
            }
        }
        &--iframe{
            background: $ts-bk-15;
            @include shadow(7);
        }
        @include mediaMin(375px) {
            .date{
                display: inline-block;
            }
        }
        @include mediaMin(768px) {
            margin-#{$left}: 0;
            margin-#{$right}: 0;
        }
    
    .date{
        display: none
    }
}
