%postGradient {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
}

img.lazy {
    background-color: $dviderColor;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: $space $space;
}

@keyframes fitIn {
    from {
        transform: scale(1.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.post-view {
    transition: 0.2s;
    position: relative;
    margin-bottom: $space;
    
    &:not(.post-view--over):hover {
        .post-view__maxTitle{
            color:$primaryColor;
        }
    }
    &:hover {
        .post-view__img img {
            transition: 1s;
            transform: scale(1.2);
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
        .post-view__share,
        .post-view__fav {
            transform: scale(1);
            opacity: 1;
        }
    }

    //Elements
    &__link,
    &__img img,
    &__img iframe{
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        #{$right}: 0;
        #{$left}: 0;
        bottom: 0;
        background: $ts;
        margin: auto;
        transition: 1s;
    }
    &__img iframe{
        z-index: 2;
    }
    &__link {
        z-index: 3;
    }
    &__share {
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        position: absolute;
        #{$right}: 15px;
        top: 15px;
        z-index: 4;
        display: none;
        .post-view--horizontal-sm &{
            display: none;
        }
        @include mediaMin(768px) {
            display: block
        }
    }
    &__fav {
        z-index: 4;
        position: absolute;
        #{$left}: 10px;
        top: 10px;
        transition: 0.2s;
        transform: translateX(0);
        @include rem(20);
        text-align: center  ;

        .icon {
            opacity: 0;
            transform: scale(0);
            animation: fitIn 0.3s forwards;
            transform: scale(1);
            fill:$yellow;
        }
        .icon:first-child {
            display: block;
        }
        .icon:last-child {
            display: none;
        }
        input {
            display: none;
        }
        input:checked + label {
            .icon{
                transform: scale(1.5);
            }
            .icon:first-child {
                display: none;
            }
            .icon:last-child {
                display: block;
            }
        }
        label {
            width: 20px;
            height: 20px;
            display: block;
            color: $yellow;
            cursor: pointer;
            z-index: 4;
            &:hover{
                transform:scale(1.2);
            }
        }
        .post-view--horizontal-sm &{
            #{$left}: 10px;
            top: 10px;
        }

        @include mediaMin(768px) {
            #{$left}: 15px;
            top: 15px;
            transform: translateX(-1 * $reverse * 50px);
            @include rem(25);
            label {
                width: 30px;
                height: 30px;
            }
        }
    }
    &__icon {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        #{$right}: 0;
        bottom: 0;
        #{$left}: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 55px;
        color: $wh;
        @include rem(50);
        &-inner{
            @include rem(50);
            fill:$wh;
        }
    }
    &__padge{
        display: inline-block;
        position: absolute;
        #{$left}:$space;
        bottom:$space;
        z-index: 3;
        padding:0 $space/2;
        background: $primaryColor;
        color:$wh;
        height: $space;
        line-height: 1+$space;
        border-radius: 2px;

        @include rem(14);

    }
    &__img {
        position: relative;
        padding-top: 8*$space;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            #{$right}: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: $primaryColor;
            opacity: 0.2;
        }
        img {
            z-index: 0;
        }

        .post-view--horizontal &{
            padding: 0;
            width: 4*$space;
            height:3*$space;
            position:absolute;
            #{$left}: 0;
            top: 0;
            @include mediaMin(375px) {
                width: 130px;
                height:75px;
            }
            @include mediaMin(768px) {
                width: 10*$space;
                height:7*$space;
            }
        }
        .post-view--horizontal-sm &{
            width: 4.5*$space;
            height:3*$space;
        }
    }
    &__caption {
        margin: 0;
        @include rem(18);
        min-height:50px;
        
        .post-view--over & {
            position: absolute;
            bottom: 20px;
            padding: 10px 15px;
            text-align: center;
            line-height: 1.75em;
            z-index: 1;
            display: block;
            #{$left}: 0;
            width:100%;
            color: $wh;
            background: $ts;
            text-shadow: 1px 1px 2px $ts-bk-50;
            .post-view__maxTitle {
                height: auto;
                max-height: 78px;
            }
            @include mediaMin(1024px) {
                #{$left}: 10px;
                bottom: 10px;
                width: 90%;
                width: calc(100% - 20px);
            }
        }
        .post-view--card &{
            padding-top: 10px;
        }
        .post-view--cardBounded &{
            padding: $space;
            
        }
        .post-view--cardBoundedSimple &{
            padding:0  $space ;
        }
        .post-view--horizontal-sm &{
            padding-top: 0;
            padding-#{$left}: $space;
            height:3*$space;
            border-bottom: 1px solid $dviderColor;
        }

        @include mediaMin(768px) {
            padding: $space 0 0 0;
            .post-view--card &{
                height:170px;
            }

            .post-view--cardBounded &{
                height:8*$space;
            }
            .post-view--cardBoundedSimple &{
                 height:2*$space;
            }
        }
    }
    &__maxTitle {
        display: block;
        max-height: 100%;
        overflow: hidden;
        vertical-align: middle;
        margin: 0;
        font-weight: 400;
        @include rem(22);

        @include mediaMin(768px) {
           @include lineHeight(1.2);
           @include rem(26);
           max-height: 3*$space;
        }
        .post-view--horizontal &{
            max-height:2*$space;
            height: auto;
        }
        .post-view--cardBoundedSimple & {
             max-height:2*$space;
             @include rem(18);
             font-weight: 300;
             text-align: center;
             overflow: hidden;
             max-width: 100%;
             text-overflow: ellipsis;
             white-space: nowrap;
             @include lineHeight(2);

        }
    }
    &__abstract{
        overflow: hidden;
        color:$secondaryText;
        display: none;
        max-height: 2*$space;
        @include lineHeight(1);
        .post-view__maxTitle + &{
            margin-top: $space;
        }
        .post-view--card &{
            height: 2*$space;
        }        
        .post-view--cardBounded &{
            color:$primaryText;
            .post-view__maxTitle + &{
                margin-top: $space;
            }
        }
        .post-view--cardBoundedSimple{
            display: none;
        }

        @include mediaMin(768px) {
            display: block;
        }
    }
    .date{
        display: none
    }
    // Modifiers
    &--horizontal{
        padding-#{$left}:5*$space;
        height:3$space;
        &.post-view--horizontal-sm{
            padding-#{$left}:4.5*$space;;
            height:3*$space;
        }
        @include mediaMin(375px) {
            padding-#{$left}:140px;
            height:75px;
        }
        @include mediaMin(768px) {
            padding-#{$left}:11*$space;
            height:7*$space; 
        }
    }
    &--cardBounded{
        @include shadow(3);
    }
    @include mediaMin(375px) {
        .date{
            display: inline-block;
        }
    }
    @include mediaMin(768px) {
        margin-#{$left}: 0;
        margin-#{$right}: 0;
    }
}
