//[1] Container
  

  .container {
    margin-#{$right}: auto;
    margin-#{$left}: auto;
    padding-#{$left}: $grid-space;
    padding-#{$right}: $grid-space;
    &--main{
      padding-top: $grid-space-sm;
      @include mediaMin(768px){
        padding-top: $grid-space;
      }
    }
  }
  @include mediaMin(768px) {
    .container {
      max-width: 750px;
    }
  }
  @include mediaMin(992px) {
    .container {
      max-width: 970px;
    }
  }
  @include mediaMin(1200px) {
    .container {
    max-width: 1200px;
    }
  }
//[2] Rows
  .row {
    margin-#{$left}: -1*$grid-space-sm ;
    margin-#{$right}: -1*$grid-space-sm ;
    @include mediaMin(768px){
      margin-#{$left}: -1*$grid-space ;
      margin-#{$right}: -1*$grid-space ;
    }
  }
  .row-xs{
    @media (max-width: 767px) {
      margin-#{$left}: -1*$grid-space-sm;
      margin-#{$right}: -1*$grid-space-sm;
    }
  }


//[3] Grid columns

  //[3.1] - column defaults
    %col-basic-setting{
      position: relative;
        min-height: 1px;
        padding-#{$left}: $grid-space-sm;
        padding-#{$right}: $grid-space-sm;
        @include mediaMin(768px){
          padding-#{$left}: $grid-space;
          padding-#{$right}: $grid-space;
        }
    }
    @for $i from 1 through 12 {
      .col-xs-#{$i},
      .col-ls-#{$i},
      .col-sm-#{$i},
      .col-md-#{$i},
      .col-lg-#{$i}{
        @extend %col-basic-setting;
      }
    }

  //[3.2] - Mobile
    @include groupSelectors(12, "xs"){
      float: $left;
    }
    @include initGrid("xs", false, false, false);
  
  //[3.3] - Phablet
    @include mediaMin(480px) {
      @include groupSelectors(12, "ls"){
        float: $left;
      }
      @include initGrid("ls", false, false, false);
    }

  //[3.4] - Tablet-portrait
    @include mediaMin(768px) {
      @include groupSelectors(12, "sm"){
        float: $left;
      }
      @include initGrid("sm", false, false, false);
    }
  
  //[3.5] - Tablet-landscape
    @include mediaMin(992px) {
      @include groupSelectors(12, "md"){
        float: $left;
      }
      @include initGrid("md", false, false, false);
    }
  
  //[3.5] - Desktop
    @include mediaMin(1200px) {
      @include groupSelectors(12, "lg"){
        float: $left;
      }
      @include initGrid("lg", false, false, false);
    }

//[4] - Clear
  .clearfix{
    display: block;
    clear: both;
  }