.layout{
    display: flex;
     flex-direction: column;
    @include mediaMin(1024px){
        flex-direction: row;
        &--column{
            flex-direction:column;
        }
        &--vh{
            height:calc(100vh - 80px);
        }
        &--wrap{
            flex-wrap: wrap;
        }
        &__item{

            &--grow{
                flex-grow:1;
            }
            &--content{
                flex-grow:1;
                padding:0 15px;
            }
            &--aside{
                padding:0 15px;
                flex-basis:330px;
            }
            &--panel,  &--panelInner{
                overflow: hidden;
                overflow-y: visible;
            }
        }
    }
}