//colors
		
	//pallet
		$blue            : #2095f2;
		$green           : #4bae4f;
		$purple          : #9b26af;
		$red             : #f34235;
		$yellow          : #feea3a;
		$wh              : #fff;
		$bk              : #000000;
		$ts-bk-50           : rgba(0,0,0,0.5);
		$ts-bk-15        : rgba(0,0,0,0.15);
		$ts              : transparent;

		//Grys
			$darkGry : #212121;
			$gry     : #757575;
			$lightGry: #BDBDBD;
			$offWhite: #f2f2f2;

	//Socials
		$facebook        : #3b5998;
		$googlePlus      : #e02f2f;
		$youtube         : #cd201f;
		$twitter         : #55acee;
		$instagram       : #405de6;

	//theme
		$primaryColor   : $blue;
		$accentColor    : $bk;
		$primaryText	: $darkGry;
		$secondaryText	: $gry;
		$dviderColor    : $lightGry;


//screens
	$mobile    : 321px;
	$phablet   : 481px;
	$tablet-PRT: 769px;
	$tablet-LS : 1025px;
	$desktop   : 1281px;

//spaces
	$fontSize  		:	 18;
	$lineHeight		:	1.5555556;
	$space     		:	($fontSize * $lineHeight) *1px ;
	$space-sm  		:	($fontSize * $lineHeight * 0.75) *1px ;
	$grid-space		:	$space/2;
	$grid-space-sm  :	$space-sm/2 ;



//fonts
	$titleFont : "";
	$bodyFont  : "";
//direction
	$left      : "";
	$right     : "";
	$reverse   : "";
		
	@if($direction == 'rtl'){
		$titleFont: 'din';
		$bodyFont : 'bahej';
		$left     : right;
		$right    : left;
		$reverse  : -1;
	}
	@else{
		$titleFont: 'roboto';
		$bodyFont : 'roboto';
		$left     : left;
		$right    : right;
		$reverse  : 1;
	}
