-var  i = i || 1
.comment
  .comment__img
    img(src='img/user/#{i}.png')
  .comment__date.date
    -var icon = {case:"date"}
    include ../shared/_icon.pug
    span 17 march 2015
  h4.comment__title Ahmed osama
  .comment__abstract
    p
      | Maecenas pulvinar orci nec urna interdum finibus. Duis eu dignissim massa, id dignissim dolor. Aliquam interdum tellus risus, vitae luctus dui mollis et.
