.megaMenu.dropMenu
  .container.megaMenu__container
    .row
      -for(var o=0 ; o<4; o++)
        .col-lg-3.megaMenu__Block
          h3.megaMenu__heading Main Category
          -for(var i=0 ; i<3; i++)
            a.megaMenu__ListItem(href="#") Sub Sub Category
          h4.megaMenu__headingSub sub Category
          -for(var i=0 ; i<3; i++)
            a.megaMenu__ListItem.megaMenu__ListItem--sub(href="#") Sub Sub Category