footer.main-footer
  nav.main-footer__nav
    -for(var key in data.nav)
      -if(key == "lang")
        -continue
      a(href=data.nav[key].link) #{data.nav[key].name}
   
  .main-footer__socials
    -for(var i=0; i<= data.social.length-1; i++)
      a.socialItem(data-wave href="" class=data.social[i].class)
        -var icon = {case:data.social[i].class}
        include ../shared/_icon.pug
include _svg.pug
script(src="js/bundle.js" async )