-var icon = icon || {case:"default",addClass:""}
case icon.case
  //- MEDIA
  when "play"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-play")
  when "sound"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-sound")
  when "image"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-image")

  //- ARROWS
  when "chevron-right"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-chevron-right")
  when "chevron-left"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="#icon-chevron-left")
  when "chevron-up"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="#icon-chevron-up")
  when "chevron-down"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="#icon-chevron-down")
  when "arrow-up"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="#icon-arrow-up")
  when "arrow-down"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="#icon-arrow-down")
  when "arrow-right"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="#icon-arrow-right")
  when "arrow-left"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="#icon-arrow-left")

  //- GLOBAL
  when "home"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-home")
  when "user"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-user")
  when "phone"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-phone")
  when "pin"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-pin")
  when "envelope"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-envelope")
  when "date"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-date")
  when "search"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-search")
  when "share"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-share")
  when "folder"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-folder")
  when "user"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-user")
  when "upload"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-upload")
  when "download"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-download")
  when "link"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-link")
  when "trash"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-trash")
  when "close"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-close")
  when "calendar"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-calendar")
  when "check"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-check")
  when "crop"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-crop")
  when "minimize"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-minimize")
  when "maxmize"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-maxmize")
  when "plus"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-plus")
  when "quote"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-quote")
  when "quote-b"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-quote-b")
  when "more"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-more")
  when "sort"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-sort")
  when "eye"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-eye")
  when "info"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-info")
  when "fav"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-fav")
  when "album"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-album")
  when "zoom"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-zoom")


  //- STAR
  when "star"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-star")
  when "star-half"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-star-half")
  when "star-filled"
   svg(class="u-icon "+icon.addClass)
     use(xlink:href="#icon-star-filled")

  //- SOCIALS
  when "facebook"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-facebook")
  when "twitter"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-twitter")
  when "googlePlus"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-googlePlus")
  when "youtube"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-youtube")
  when "Instagram"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-Instagram")
  when "rss"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="#icon-rss")


