html(dir='rtl')
  head
    link(rel='stylesheet' href='css/rtl-style.css')
    meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
    title FrontCodes | ui Componenets Liberary
  body
    -var data = dataAr
    -var rtl = true
    include _header.3.pug
    block content
    include _footer.pug
